{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home page</h1>
<br>
    <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welome to the My Flask Blog! Here we'll br talking about everything music stile.</p>
          <p>You can visit my links in: <a href="https://www.instagram.com/stasmerezhaniy/?hl=ru">Instagram</a>, <a href="https://www.linkedin.com/in/stas-merezhanyi-a485761a0/">LinkedIn</a>, <a href="https://www.facebook.com/stas.merezhaniy/">Facebook</a></p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Posts</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}